body {
    font-family: "Roboto", sans-serif;
    margin: 30px 0 0; /* Đặt margin-top cho trang */
    padding: 0; /* Xóa padding mặc định của trang */
    background-image: url("../login/images/pic2.jfif");
    background-size: contain;
    background-position: center;
    overflow-x: hidden; /* Ẩn thanh cuộn trái phải */
}

a {
    text-decoration: none;
}   
.login-signup-container {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: auto; /* Đảm bảo rằng phần tử được căn bên phải */
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 500px;
}

.login-signup-container h2 {
    text-align: center;
    margin-bottom: 20px; /* Thêm khoảng cách dưới tiêu đề */
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px 10px;
    text-align: left;
}

.login-signup-container h2 span {
    color: #ddd;
    cursor: pointer;
    margin: 0 20px;
    padding: 20px 15px 8px;
    text-transform: uppercase;
}

.login-signup-container h2 span.active {
    border-bottom: 3px solid rgba(0, 0, 0, 0.212);
    color: black;
}


.login-signup-container h2 span.inactive a {
    color: rgba(0, 0, 0, 0.267);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1A2C50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-group button:hover {
    background-color: #0056b3;
}

label {
    font-size: 14px; /* Điều chỉnh kích thước font cho các nhãn */
}

.forgot-password {
    /* text-align: left; */
    font-size: 14px;
    color: #555;
}

.error-message {
    color: red; /* Đặt màu chữ là đỏ */
    font-style: italic; /* In nghiêng */
    margin-top: 10px; /* Khoảng cách với các phần tử khác */
    margin-bottom: 10px;
    font-size: 13px;
}


.error-input {
    border: 1px solid red !important; /* Đặt màu đỏ cho viền của input */
}

